<ion-view view-title="Settings" id="bgColor">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Settings</div>
      <div class="item item-body">
        <div>
          Adjust your settings, dude.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">More Settings</div>
      <div class="item item-body">
        <div>
          Keep on setting.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Guess what?</div>
      <div class="item item-body">
        <div>
          You can set more!
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
