<ion-view title="Home" cache-view="false">
  <ion-content class="has-header">
    <!-- Display current location's weather data-->
    <h3 class="city">{{city}}</h3>
    <h5><weather-icon icon="current.icon" id="current-icon"></weather-icon> Currently: {{current.currently.summary}}</h5>
    <h4><weather-icon icon="current.icon" id="current-icon"></weather-icon> Today: {{current.hourly.summary}}</h4>
    <p>Current Temperature: 
  		<span class="large">{{current.currently.temperature}}° </span>
    </p>
    <p>Current humidity:
      <span class="large">{{current.currently.humidity}} </span>
    </p>
    <!-- <span class="large">{{current.currently.icon}}</span> -->
    <skycon icon="CurrentWeather.forecast.icon" size="CurrentWeather.forecast.iconSize" color="CurrentWeather.forecast.color"></skycon>
    <h3 class="large">{{current.daily.summary}}</h3>
  </ion-content>
</ion-view>
